* {
	margin: 0;
	padding: 0.5em;
	border: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: Lucida Console;
	src: url(Lucon.ttf);
	color: white;
	list-style:none;
}
body{
	background-color: black;
}
.form-consulta {
  max-width: 100%;
  margin:0 auto;
  padding:6em 0 6em 0; 
}
.campo-form {
  width:100%; 
  height:2em; 
  margin:2px 0 6px;
  box-sizing: border-box;
  padding:0.5em 0 0 0.5em;
  color:black; 
}
textarea:focus {
  background-color: #00ff00;
}
label span {
  color: #00ff00
}
textarea {
  min-height: 10em!important;
}
.btn-form {
  display: inline-block;
  border:0;
  background: #ff00ff;
  height: 4em;
  padding: 0 20px;
  color:#fff;
  text-transform: uppercase
}
.btn-form:hover {
  background: #00ff00;
  color:#000;
}
header{
  display:block;
  margin:auto;
  text-align:center;
  overflow: auto;
  background: black;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
section {
  padding:0;
  margin: 0;
  position: top;
}
.logo img{
  width:8em;
  padding:0;
}
header nav{
	position: fixed;
	top: 0;
	bottom: 0;
	left:-100%;
	width: 100%;
	z-index: 2;
	padding: 3em 1em 3em;
	background: black;
	transition: all 0.75s ease;
	font-size: 1.2em;
	overflow-y: auto;
	display:block;
	overflow:auto;
}
.hamburguesa{
  display:grid;
  z-index: 99;
  position: absolute;
}
#menu_on{
  position: absolute;
  z-index: 44;
  margin-left: -2.5em;
}
#menu_off{
  position: absolute;
  z-index: 445;
  margin: 0 0 0 -3em;
}
.visible_menu nav{
  left: 0;
  opacity: 1;
}
.invisible_menu nav{
  left: -100%;
  opacity: 1;
}
.slider{
  padding: 10em 0 10em 0;
}
.slider img{
  width:100%;
  text-align:center;
}
#grid{
	display: grid;
	grid-template-columns: 100%;
	text-align: center;
	margin: 0%;
  grid-column-gap: 2%;
}
.bannerimg{
  text-align:center;
}
.bannerholi{
  padding-top: 4em; 
  width:60%; 
  margin:0 auto;
  text-align:center;
}
#grid2{
  text-align:left;
  width:100%;
  display:grid;
}
#grid2 img{
  width:10em;
  display:grid;
  text-align: left;
  display: inline-grid;
}
#grid1{
  text-align:left;
  width:100%;
  display:grid;
}
#grid1 img{
  width:10em;
  display:grid;
  text-align: left;
}
#grid0{
  text-align:left;
  width:100%;
  display:grid;
}
#grid0 img{
  width:10em;
  display:grid;
  text-align: left;
}
.banner3{
  padding:0;
  margin-left:-1.5em;
  margin-right:-1em;
}
.banner3 img{
  font-size:100%;
  width:100%;
  margin-right:0em;
  display:block;
  overflow:auto;
  text-align:center;
}
footer{
	display:block;
  position: relative;
	text-align:left;
	padding:0;
	margin:0;
  bottom: 0;
}
footer p{
  padding:0;
  margin:0;
}
footer ul li{
  padding:0;
  margin:0;
  float:left;
}
.redes{
  display:grid;
  width:100%;
  float:left;
  list-style:none;
  margin:0;
  padding:0;
}
.intro{
  text-align:left;
  width:100%;
  padding:0;
}
.gracias{
  text-align:center;
  max-width:100%;
}
.gracias img{
  width:100%;
  padding: 8em 0em 6em 0em;
}
.trabajos{
  padding:0;
  margin-left:-1.5em;
  margin-right:-1em;
}
.trabajos img{
  width:100%;
  margin-right:0em;
  display:block;
  overflow:auto;
  text-align:center;
}
.trabajos video{
	width:100%;
	margin-right:0em;
	display:block;
	overflow:auto;
	text-align:center;
	animation-play-state:paused;
}
.banner5{
  display:none;
}
.cart-btn {
  display: flex;
}  
#icono-carrito {
  position: absolute;
  font-size: 2rem;
  cursor: pointer;
}
.cantidadDeproductos{
  display: none;
}
.cantidad-en-carro {
  color: white;
  background-color: red;
  padding: 0.2em 0.3em;
  margin: 1em 0 0 0;
  border: solid 2px red;
  border-radius: 15px;
  font-weight: bolder;
}  
.items-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  margin-top: 1em
}  
.card {
  margin: 1em;
  position: relative;
  overflow: hidden; 
  text-align: center
}
.imagen-producto {
  margin-bottom: 1em
}
.boton-anadir {
  background-color: #ff00ff;
  color: white;
  font-weight: bolder;
  padding:1em;;
  width: 8em;
  font-size: 1rem;
}
.precio-producto {
  padding-top: 1em;
  font-weight: bold;
  font-size: 1.5rem;
}
.carrito{
  position: fixed;
  width: 100vw;
  height: 100%;
  z-index: 2;
  top:0;
  transform: translateY(-200%);
  transition: .5s ease-out;
}
.carrito.open{
  transform: translateY(0%);
}
#boton-cerrar {
  font-size: 1.5rem;
  float: right;
  margin: .5em 2em 0 0;
  color: white;
  cursor: pointer;
}
.cart-is-empty {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1em;
  display: none;
}
.total{
  text-align: center;
  margin: 2em 0 2em 0;
}
.carrito-total {
  color: white;
}
.precio-total {
  color: white;
  font-size: 2rem;
  display: block;
}
.purchase-btn {
  font-size: 1rem;
  font-weight: bolder;
  background-color: rgb(0, 255, 0);
  color: white;
  padding: 1em 2em;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 2em 0 1em 0;
}
.productos-seleccionados {
  margin-top: 3em;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.imagen-producto {
  width: 10rem;
  margin: 1em;
}
.cart-btn img{
  width: 25%;
  height: 25%;
}
.precio-producto {
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
}
#grid4{
  grid-template-columns: 100%;
  grid-auto-flow: dense;
}
.carrito-desplegado {
  width: 100%;
  background-color: rgb(0, 0, 255);
} 
.producto-en-carro {
  flex-direction: column;
  text-align: center;
  margin-bottom: 2em;
}
.remove-btn {
  margin: 0
}
.cantidadDeproductos {
  margin: .5em 0 .5em 0
}
/* para el chiste del modo oscuro */
:root {
  --color-white: #ffffff;
  --color-red: #ff0000;
  --color-button: #fdfffd;
  --color-black: #000;
}
.swal-overlay--show-modal .swal-modal {
  background-color: #efeade;
}
.swal-button {
  background-color: #f5f9f8;
  color: #000;
}
.switch-button {
  display: inline-block;
}
.switch-button .switch-button__checkbox {
  display: none;
}
.switch-button .switch-button__label {
  background-color: var(--color-white);
  width: 3rem;
  height: 1.5rem;
  display: inline-block;
  position: relative;
}
.switch-button .switch-button__label:before {
  transition: .2s;
  display: block;
  position: absolute;
  width: 2rem;
  height: 1.5rem;
  background-color: var(--color-button);
  content: '';
  box-shadow: inset 0px 0px 0px 1px var(--color-black);
}
.switch-button .switch-button__checkbox:checked + .switch-button__label {
  background-color: var(--color-white);
}
.switch-button .switch-button__checkbox:checked + .switch-button__label:before {
  transform: translateX(1rem);
}
/* para el chiste del modo oscuro */
/*desde los 560px para arriba pasa esto*/
@media (min-width: 35em){
.cerrarmenux{
  display:none;
}
header nav { 
	float: left;
	height:100%;
	display:block;
	transition: all 0.01s ease;
}
header nav ul {
	overflow: auto;
}
header nav ul li a {
	display: block;
}
#grid4{
  display: grid;
  grid-template-columns: 30%;
  grid-auto-flow: column;
  justify-items: center;
  text-align: center;
  margin: 10% 0 0 0;
  grid-column-gap: 2%;
}
footer {
  display:block;
  overflow:auto;
  width:100%;
  padding: 0.5em 0.5em 0.5em 0;
}
.redes ul li {
  padding-top:1em;
  padding-right:1em;
}
}
/*desde los 960px para arriba pasa esto*/
@media (min-width: 60em) {
*{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	line-height:120%;
	letter-spacing: -1px;
}
.carrito-desplegado {
  height: 100%;
  width: 50%;
  float: right;
  overflow: scroll;
  overflow-x: hidden;
}
.producto-en-carro {
  display: flex;
  align-items: center;
}
.remove-btn {
  padding: 1em 2em;
  background-color: red;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 3rem;
  font-weight: bolder;
  font-size: 1rem;
}
.remove-btn:active {
  transform: translateY(5px);
}
.cantidadDeproductos {
  width: 4rem;
  font-size: 2rem;
  margin-left: 3rem;
}
main {
	font-size: 1em;
	line-height: 1.5em;
	padding-top: 60px; 
}
.bannerholi{
  padding-top: 4em; 
  width:35%; 
  margin:0 auto;
  text-align:center;
}
.bannerholix{
  width:50%;
  margin:0 auto;
  padding-bottom:6em;
}
#menu_on{
	display: none;
}
#grid{
	grid-template-columns: 30% 30% 30%;
	margin:10% 4% 20% 4%;
}
header nav a{
  display: none;
}
.logo{
  width: 15em; 
  margin-left: 7em; 
  text-align:center;
  position: fixed;
  background-color: #000;
}
.logo img{
  width:8em;
  padding-top:0.5em;
}
.gracias{
  text-align:center;
  max-width:50%;
}
.gracias img{
  width:100%;
  padding: 8em 0em 6em 0em;
}
header{
  display:block;
  padding-top: 0.5em;
  overflow: auto;
  background: black;
  height: 12.5%;
  width: 100%;
}
header nav{
	top: 0;
	left:17em;
	margin:0 auto;
	height:5em;
	padding:1.5em 0;
	position:fixed;
	bottom: 0;
	width: 80%;
	background: black;
	transition: all 0.0001s ease;
	font-size: 1.2em;
	overflow-y: auto;
}
header nav ul li {
	padding: 0 0.5em 0 0.5em;
	display:inline-block;
  width: 6em;
}
header nav ul li:hover{
  background: #ff00ff;
}
.slider{
  text-align:left;
  padding:5em 15em 5em 15em;
}
.slider h1{
  text-align: center;
  padding-bottom: 3em;
  padding-top:3em;
}
.slider img{
  width: 80%;
}
.banner1{
	padding:0.5em 6em 0 6em;
	width: 100%;
}
#grid2{
  width:100%;
  margin:0 1em 0 1em;
}
#grid1{
  width:100%;
  margin:0 1em 0 1em;
}
#grid0{
  width:100%;
  margin:0 1em 0 1em;
}
.trabajos{
  padding: 0;
  margin:0 auto;
  width:40%;
}
.trabajos img{
  width:100%;
  padding:1em 0;
}
.banner3{
  width:28%;
  margin:0 1em 0 1em;
  display:inline-block;
  overflow:auto;
  margin:1em;
}
.banner3, img{
  text-align:left;
}
.intro{
  text-align:left;
  width:100%;
  padding:2em 0;
}
.form-consulta {
  max-width: 39%;
  margin-left:7em;
  padding:1em 0 7em 0;
  overflow:auto;
  float:left;
}
.banner4{
  width:100%;
  float:left;
  overflow:auto;
}
.banner5{
  max-width: 50%; margin-right:16em;
  display:inline-block;
  overflow:auto;
  margin:5% 10% 5% 10%;
}
.banner5 img{
  width:100%;
  padding: 4em 0;
}
footer {
	overflow:auto;
	padding: 0.5em;
}
.bajadita{
	display:grid;
	width:45%;
	float:left;
	padding:0.5em;
}
.redes{
	display:grid;
	width:45%;
	float:right;
	padding:0.5em;
	list-style:none;
}
}