* {
	margin: 0;
	padding: 0.5em;
	border: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: Lucida Console;
	src: url(Lucon.ttf);
	color: white;
	list-style:none;
	letter-spacing: −2em;
}
body{
	background-color: black;
}
.cargatarjeta button{
	color:black;
}
.cargatarjeta input{
	color: black;
}
.form-consulta {
max-width: 100%; margin:0 auto; padding:6em 0 6em 0; 
}
.campo-form {
width:100%; height:2em; margin:2px 0 6px;  box-sizing: border-box; padding:0.5em 0 0 0.5em; color:black; 
}
textarea:focus {
    background-color: #00ff00;
}
label span {
color: #00ff00
}
textarea {
min-height: 10em!important;
}
.btn-form {
display: inline-block; border:0; background: black; height: 4em;  padding: 0 20px; color:#fff;text-transform: uppercase
}
.btn-form:hover {
background: #00ff00
}
body{
padding-top:0;
}
header{
display:block;
margin:auto;
text-align:center;
overflow: auto;
background: black;
height: 100%;
width: 100%;
left: 0;
top: 0;
}
section {
padding:0;
margin: 0;
position: top;
}
header{
padding-top:2e;
}
.logo img{
width:8em;
padding:0;
}
header nav{
	position: fixed;
	top: 0;
	bottom: 0;
	left:-100%;
	width: 100%;
	z-index: 2;
	padding: 3em 1em 3em;
	background: black;
	transition: all 0.75s ease;
	font-size: 1.2em;
	overflow-y: auto;
	display:block;
	overflow:auto;
}
.hamburguesa{
    display:grid;
    z-index: 99;
    position: absolute;
}
#menu_on{
    position: absolute;
    z-index: 44;
    margin-left: -2.5em;
}
#menu_off{
    position: absolute;
    z-index: 445;
    margin: 0 0 0 -3em;
}
.visible_menu nav{
    left: 0;
    opacity: 1;
}
.invisible_menu nav{
    left: -100%;
    opacity: 1;
}
.slider{
padding: 10em 0 10em 0;
}
.slider img{
width:100%;
text-align:center;
}
#grid{
	display:grid;
	grid-template-columns:30% 30% 30%;
	text-align:center;
	margin: 0%;
}
#grid2{
text-align:left;
width:100%;
display:grid;
}
.bannerimg{
text-align:center;
}
.bannerholi{
padding-top: 4em; 
width:60%; 
margin:0 auto;
text-align:center;
}
#grid2 img{
width:100%;
display:grid;
text-align: left;
}
.banner3{
padding:0;
margin-left:-1.5em;
margin-right:-1em;
}
.banner3 img{
font-size:100%;
width:100%;
margin-right:0em;
display:block;
overflow:auto;
text-align:center;
}
footer {
	display:block;
	overflow:auto;
	text-align:left;
	padding:0;
	margin:0;
}
footer p{
padding:0;
margin:0;
}
footer ul li{
padding:0;
margin:0;
float:left;
}
.redes{
display:grid;
overflow:auto;
width:100%;
float:left;
list-style:none;
margin:0;
padding:0;
}
.intro{
text-align:left;
width:100%;
padding:0;
}
.gracias{
text-align:center;
max-width:100%;
}
.gracias img{
width:100%;
padding: 8em 0em 6em 0em;
}
.trabajos{
padding:0;
margin-left:-1.5em;
margin-right:-1em;
}
.trabajos img{
width:100%;
margin-right:0em;
display:block;
overflow:auto;
text-align:center;
}
.trabajos video{
	width:100%;
	margin-right:0em;
	display:block;
	overflow:auto;
	text-align:center;
	animation-play-state:paused;
	}
.banner5{
display:none;
}

/* esto es para el carrito */
.cart-btn {
    display: flex;
    justify-content: flex-end;
  }
  
  #icono-carrito {
    position: relative;
    font-size: 2rem;
    cursor: pointer;
  }
  
  .cantidad-en-carro {
    color: white;
    background-color: red;
    padding: .2em .3em;
    margin: .8em 7.5em 0 0;
    border: solid 2px red;
    border-radius: 15px;
    font-weight: bolder;
  }
  
  .items-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin-top: 1em
  }
  
  .card {
  /*   width: 15rem; */
    margin: 1em;
    position: relative;
    overflow: hidden; 
    text-align: center
  }
    
  .imagen-producto {
    margin-bottom: 1em
  }
  
  .boton-anadir {
    background-color: #ff00ff;
    color: white;
    position: absolute;
    right: 0;
    top: 65%;
    font-weight: bolder;
    font-size: 1.2rem
  }
  
  .product-price {
    padding-top: 1em;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .carrito {
    position: fixed;
    width: 100vw;
    height: 100%;
    z-index: 2;
    transform: translateY(-200%);
    transition: .5s ease-out;
  }
  .carrito.open {
    transform: translateY(0%);
  }
  .carrito-desplegado {
    height: 100%;
    width: 50%;
    background-color: rgb(221, 27, 27);
    float: right;
    overflow: scroll;
    overflow-x: hidden;
  }
  
  #close-btn {
    font-size: 1.5rem;
    float: right;
    margin: .5em 2em 0 0;
    color: white;
    cursor: pointer;
  }
  
  .cart-is-empty {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1em;
    display: none;
    
  }
  
  .total {
    text-align: center;
    margin: 2em 0 2em 0;
  /*   display: none; */
  }
  
  .carrito-total {
    color: white;
  }
  
  .precio-total {
    color: white;
    font-size: 2rem;
    display: block;
  }
  
  .purchase-btn {
    font-size: 1rem;
    font-weight: bolder;
    background-color: green;
    color: white;
    padding: 1em 2em;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 2em 0 1em 0;
  }
  
  .productos-seleccionados {
    margin-top: 3em;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    
  }
  
  .product-row {
    display: flex;
    align-items: center;
  }
  
  .cart-image {
    width: 10rem;
    margin: 1em;
  }
  
  .cart-price {
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
  }
  
  .product-quantity {
    width: 4rem;
    font-size: 2rem;
    margin-left: 3rem;
  }
  
  .remove-btn {
    padding: 1em 2em;
    background-color: red;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: 3rem;
    font-weight: bolder;
    font-size: 1rem;
  }
  
  .remove-btn:active {
    transform: translateY(5px);
  }
  
  @media (max-width: 1000px){
    .carrito-desplegado {
      width: 100%;
    } 
    
    .product-row {
      flex-direction: column;
      text-align: center;
      margin-bottom: 2em;
    }
    
    .remove-btn {
      margin: 0
    }
    
    .product-quantity {
      margin: .5em 0 .5em 0
    }
  }

/* acá terminó el carrito */
@media (min-width: 35em){
header nav ul li a {
	display: block;
}
header img{
	float:center;
}
header nav { 
	float: left;
	height:100%;
	display:block;
	transition: all 0.01s ease;
}
header nav ul {
	overflow: auto;
}
footer {
display:block;
overflow:auto;
width:100%;
padding: 0.5em 0.5em 0.5em 0;
}
.bajadita{
display:grid;
width:45%;
float:left;
padding:0.5em 0.5em 0.5em 0.5em;
}
.redes{
display:grid;
overflow:auto;
width:45%;
float:right;
padding:0.5em 0 0.5em 0;
list-style:none;
}
.redes ul li {
padding-top:1em;
padding-right:1em;}
}
@media (min-width: 60em) {
* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	line-height:120%;
	letter-spacing: -1px;
}
main {
	font-size: 1em;
	line-height: 1.5em;
	padding-top: 60px; 
}
.bannerholi{
padding-top: 4em; 
width:35%; 
margin:0 auto;
text-align:center;
}
.bannerholix{
width:50%;
margin:0 auto;
padding-bottom:6em;
}
#menu_on{
	display: none;
}
#grid{
	grid-template-columns: 30% 30% 30%;
	margin:6% 0 12% 6%;
}
header nav a{
display: none;
}
.logo{
width: 15em; 
margin-left: 7em; 
text-align:center;
}
.logo img{
width:8em;
padding-top:0.5em;}
.gracias{
text-align:center;
max-width:50%;
}
.gracias img{
width:100%;
padding: 8em 0em 6em 0em;
}
header{
display:block;
padding-top: 0.5em;
overflow: auto;
background: black;
height: 12.5%;
width: 100%;
}
header nav{
	top: 0;
	left:17em;
	margin:0 auto;
	height:80px;
	padding:1.5em 0;
	position:fixed;
	bottom: 0;
	width: 80%;
	background: black;
	transition: all 0.0001s ease;
	font-size: 1.2em;
	overflow-y: auto;
}
header nav ul li {
	padding: 0 0.5em 0 0.5em;
	display:inline-block;
	overflow:auto;
}
header nav ul li:hover{
background: #ff00ff;
}
.slider{
text-align:left;
padding:5em 15em 5em 15em;
}
.slider h1{
text-align: center;
padding-bottom: 3em;
padding-top:3em;
}
.slider img{
width: 80%;
}
.banner1{
	padding:0.5em 6em 0 6em;
	width: 100%;
}
#grid2{
width:100%;
margin:0 1em 0 1em;
}
.banner2, img{
width:29%;
text-align:left;
}
.banner3{
width:28%;
margin:0 1em 0 1em;
display:inline-block;
overflow:auto;
margin:1em;
}
.banner3, img{
text-align:left;
}
.trabajos{
padding: 0;
margin:0 auto;
width:40%;
}
.trabajos img{
width:100%;
padding:1em 0;
}
.intro{
text-align:left;
width:100%;
padding:2em 0;
}
.banner3:hover{
background: #ff00ff;
}
.form-consulta {
max-width: 39%; margin-left:7em; padding:1em 0 7em 0; overflow:auto; float:left;
}
.campo-form {
width:100%; height:2em; margin:2px 0 6px;  box-sizing: border-box; padding:0.5em 0 0 0.5em; color:black;
}
label span {
color: #00ff00
}
textarea {
min-height: 10em!important;
}
.banner4{
width:100%;
float:left;
overflow:auto;
}
.banner5{
max-width: 50%; margin-right:16em;
display:inline-block;
overflow:auto;
margin:5% 10% 5% 10%;
}
.banner5 img{
width:100%;
padding: 4em 0;
}
.btn-form {
display: inline-block; 
border:0;
height: 4em;  
padding: 0 20px; 
color:#fff;
text-transform: uppercase;
}
.btn-form:hover {
background: #ff00ff
}
footer {
	display:block;
	overflow:auto;
	text-align:left;
	padding: 0.5em;
	bottom:0;
}
.bajadita{
	display:grid;
	overflow:auto;
	width:45%;
	float:left;
	padding:0.5em;
}
.redes{
	display:grid;
	width:45%;
	float:right;
	padding:0.5em;
	list-style:none;
}
}