* {
	margin: 0;
	padding: 0.5em;
	border: 0;
	box-sizing: border-box;
	text-decoration: none;
  font-family: 'VT323', monospace;
	color: white;
	list-style:none;
}
body{
	background-color: black;
}
header nav{
  left:-100%;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
  transition: all 0.75s ease;
	z-index: 2;
	padding: 3em 1em 3em;
	font-size: 1.2em;
	overflow-y: auto;
	display:block;
	overflow:auto;
	background: black;
  z-index: 999;
}
#menu_on{
  position: absolute;
}
#menu_on img{
  margin-left: -50%;
}
#cerrarmenux{
  float:right;
  z-index:2;
}
.visible_menu nav{
  left: 0;
}
header{
  display:block;
  margin:auto;
  text-align:center;
  overflow: auto;
  background: black;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
section {
  padding:0;
  margin: 0;
  position: top;
}
.logo img{
  width:8em;
  padding:0;
}
#fernet{
  text-align:left;
  font-size:70%;
}
#fernet img{
  width: 40%;
  float:left;
}
.slider{
  padding: 10em 0 10em 0;
}
.slider img{
  width:100%;
  text-align:center;
}
.land{
  text-align:center;
  padding-top: 4em; 
  width:100%; 
  margin:0 auto;
  text-align:center;
  display: grid;
}
.land a{
  padding: 2% 0;
  font-size: 24px;
  letter-spacing: 0.2em;
}
.land a:hover {
  background: #00ff00;
  color:#000;
}
footer{
	display:block;
  position: relative;
	text-align:left;
	padding:0;
	margin:0;
  bottom: 0;
  font-size: 20px;
}
footer p{
  padding:0;
  margin:0;
  letter-spacing: 0.1em;
}
footer ul li{
  padding:0;
  margin:0;
  float:left;
}
.redes{
  display:grid;
  width:100%;
  float:left;
  list-style:none;
  margin:0;
  padding:0;
}
/* para el chiste del modo oscuro */
:root {
  --color-white: #ffffff;
  --color-red: #ff0000;
  --color-button: #fdfffd;
  --color-black: #000;
}
.swal-overlay--show-modal .swal-modal {
  background-color: #efeade;
}
.swal-button {
  background-color: #f5f9f8;
  color: #000;
}
.switch-button {
  display: inline-block;
}
.switch-button .switch-button__checkbox {
  display: none;
}
.switch-button .switch-button__label {
  background-color: var(--color-white);
  width: 3rem;
  height: 1.5rem;
  display: inline-block;
  position: relative;
}
.switch-button .switch-button__label:before {
  transition: .2s;
  display: block;
  position: absolute;
  width: 2rem;
  height: 1.5rem;
  background-color: var(--color-button);
  content: '';
  box-shadow: inset 0px 0px 0px 1px var(--color-black);
}
.switch-button .switch-button__checkbox:checked + .switch-button__label {
  background-color: var(--color-white);
}
.switch-button .switch-button__checkbox:checked + .switch-button__label:before {
  transform: translateX(1rem);
}

.indice {
  width: 100%;
  display: grid;
  flex-flow: row;
  align-content: space-around;
  justify-content: center;
  margin: 8em auto 5em auto;
	padding-top: 2%; 
}
article {
  position: relative;
  background-color: rgb(0, 0, 255);
  border-radius: 1em;
  padding: 2em;
  padding-bottom: 1.2em;
  margin: 1em;
}
.link {
  color: #ffffff;
  border-top: #dfdfdf;
  margin-bottom: 0em;
  padding-top: 1em;
}
/* para el chiste del modo oscuro */
/*desde los 560px para arriba pasa esto*/
@media (min-width: 35em){

header nav ul {
	overflow: auto;
}
header nav ul li a {
	display: block;
}
footer {
  display:block;
  overflow:auto;
  width:100%;
  padding: 0.5em 0.5em 0.5em 0;
}
.redes ul li {
  padding-top:1em;
  padding-right:1em;
}
}
/*desde los 960px para arriba pasa esto*/
@media (min-width: 60em) {
  
  
.indice {
  display: flex;
}

article {
  width: 25%;
}

section {
  height: 100%;
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: space-between;
}

section:first-child {
  position: absolute;
  top: 100%;
  margin: 0em;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

p {
  margin-bottom: 1em;
  margin-top: 1em;
}

header nav{
  left:17em;
  margin:0 auto;
  height:5em;
  padding:1.5em 0;
}
#cerrarmenux{
  display:none;
}
#menu_on{
  display: none;
}
#fernet{
  display: none;
}
*{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	line-height:120%;
	letter-spacing: -1px;
}
header nav a{
  display: none;
}
.logo{
  width: 15em; 
  margin-left: 7em; 
  text-align:center;
  position: fixed;
  background-color: #000;
}
.logo img{
  padding-top:0.5em;
}
header{
  padding-top: 0.5em;
  height: 12.5%;
  background-color: #000;
  z-index: 999;
  position: fixed;
}
header nav ul li {
	padding: 0 0.5em 0 0.5em;
	display:inline-block;
  width: 6em;
}
header nav ul li:hover{
  background: #ff00ff;
}
footer {
	overflow:auto;
	padding: 0.5em;
}
.bajadita{
	display:grid;
	width:45%;
	float:left;
	padding:0.5em;
}
.redes{
	display:grid;
	width:45%;
	float:right;
	padding:0.5em;
	list-style:none;
}
}